/* Основные стили */
body {
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-image: url("back3.png"); /* Замените на путь к вашему изображению */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;


}

.content {
    /*background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-block {
    position: relative;

}

.subtitle {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 9pt;
    line-height: 1.5em;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}

.names {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 32pt;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    margin: 0;
    letter-spacing: 0.1em;
    position: relative;////


}

.names .name {
    display: block;
    text-align: center;
    position: absolute;/////

}

.name:first-child {
    top: -0.7em; /* Поднимет "Ринат" над знаком "&" */
}
.name:last-child {
    top: 0.5em; /* Опустит "Динара" под знаком "&" */
}

.names .and {
    display: inline-block;
    position: relative;
    z-index: -1; /* Поместит знак "&" под именами */
    color: rgb( 212, 175, 55,0.4); /* Цвет символа "&" */
    font-size: 7rem;
}

.date {
    font-size: 20pt;
    font-family: "Great Vibes", cursive;
    font-weight: 50;
    font-style: normal;
    color: rgb(0, 0, 0);
    /*line-height: inherit;
    letter-spacing: 0em;
    text-align: center;*/
}

.invite {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 9pt;
    line-height: 1.5em;
    color: #000000;
    margin-bottom: 5px;
    text-align: center;
}











.header {
    /*background: linear-gradient(135deg, #f9c4cf, #f3bcbf);*/
    color: #333;
    text-align: center;
    padding: 60px 20px;
    animation: fadeIn 2s ease-in-out;
    margin: 50pt;

}

.header h1 {
    /*font-family: Apple Chancery, cursive;*/
    font-style: italic;
    font-size: 3em;
    /*margin: 0;
    /*color: #fff;*/
    animation: fadeInDown 1s ease-in-out;
}


.header .date {

    /*font-size: 1.5em;
    /*color: #fff;*/
    animation: fadeInUp 1s ease-in-out;
}

.countdown {
    margin-top: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

#timer {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
    color: #000000;
    animation: zoomIn 1s ease-in-out;
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-style: normal;
}

#timer span{
    font-size: 1.5em;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#timer div {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#timer div:hover {
    transform: scale(1.1);
}

section {
    padding: 50px 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

#details {
    /*background-color: #fff;*/
    animation: slideIn 1.5s ease-in-out;
}

#details h2{
    font-family: "Great Vibes", cursive;
    font-weight: 50;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 20pt;
}

.details-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.detail {
    background-color: rgb(249,249,249,0.7);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    animation: fadeInUp 1s ease-in-out;
    font-size: 12pt;
    /*animation: zoomIn 1.5s ease-in-out;*/
}

.detail h3 {
    color: #b03c52;
}

.detail:hover {
    transform: scale(1.1);
}

.welcome-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

#welcome h2{
    font-family: "Great Vibes", cursive;
    font-weight: 50;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 30pt;
}

.welcome {
    background-color: rgb(249,249,249,0.7);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    animation: zoomIn 1.5s ease-in-out;
    font-size: 12pt;
}

.welcome:hover {
    transform: scale(1.1);
}

#contacts h2{
    font-family: "Great Vibes", cursive;
    font-weight: 50;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 15pt;
}

#contacts {
    background-color: #f3bcbf;
    padding: 5px 10px;
    animation: fadeInUp 2s ease-in-out;
}

#contacts p {
    margin-bottom: 20px;
    /*font-size: 1.2em;*/
    color: #333;
}

.telegram-link {
    color: #2a9d8f;
    /*font-size: 1.2em;*/
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0;
}

.telegram-link:hover {
    color: #f4a261;
}

.footer {
    background-color: #b03c52;
    color: white;
    text-align: center;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

/* Анимации */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { transform: translateX(-30px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Статичный фон с нежными цветами */
/*body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    position: relative;
}*/

/* Анимация бабочек */
@keyframes flutter {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(15px, -20px) rotate(15deg);
    }
    50% {
        transform: translate(-10px, 10px) rotate(-10deg);
    }
    75% {
        transform: translate(20px, 30px) rotate(10deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

/* Стили для бабочек */
.butterfly {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('butterfly1.png'); /* Замените на путь к вашему изображению бабочки */
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    animation: flutter 10s infinite ease-in-out;
    pointer-events: none; /* Чтобы бабочки не мешали нажатию на элементы сайта */
}

/* Позиции бабочек */
.butterfly:nth-child(1) {
    top: 10%;
    left: 20%;
    animation-duration: 12s;
    animation-delay: 0s;
}

.butterfly:nth-child(2) {
    top: 40%;
    left: 80%;
    animation-duration: 14s;
    animation-delay: 2s;
}

.butterfly:nth-child(3) {
    top: 60%;
    left: 30%;
    animation-duration: 16s;
    animation-delay: 4s;
}

.butterfly:nth-child(4) {
    top: 80%;
    left: 50%;
    animation-duration: 18s;
    animation-delay: 6s;
}

.butterfly:nth-child(5) {
    top: 15%;
    left: 70%;
    animation-duration: 20s;
    animation-delay: 8s;
}

.butterfly:nth-child(6) {
    top: 25%;
    left: 35%;
    animation-duration: 20s;
    animation-delay: 8s;
}

.butterfly:nth-child(7) {
    top: 45%;
    left: 45%;
    animation-duration: 20s;
    animation-delay: 8s;
}

.butterfly:nth-child(8) {
    top: 55%;
    left: 65%;
    animation-duration: 20s;
    animation-delay: 8s;
}

.butterfly:nth-child(9) {
    top: 65%;
    left: 75%;
    animation-duration: 20s;
    animation-delay: 8s;
}


@media screen and (max-width: 1024px) {
    body {
        background-size: cover; /* Подгоняет фон под экран планшета */
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: 100% auto; /* Горизонтальная адаптация для средних экранов */
    }
}

@media screen and (max-width: 480px) {
    body {
        background: url('back3.png') no-repeat center top; /* Позиционирование фона для мобильных устройств */
        background-size: auto 30%; /* Вертикальная адаптация для маленьких экранов */
    }

}

@media screen and (orientation: landscape) and (max-width: 768px) {
    body {
        background: url('back3.png') no-repeat center center fixed;
        background-size: contain; /* Для ландшафтной ориентации на мобильных устройствах */
    }
}


